body {
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
a:hover {
    text-decoration: underline;
    color: tomato;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header a{
    display: inline-block;
}
button{
    display: inline-block;
    font-size: 12px;
    background: tomato;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px 3px;
    position: relative;
    
    
    cursor: pointer;
}
button:hover {
    background: rgb(209, 80, 57);
}
.navbar {
    background-color: white;
    box-shadow: 0 3px 3px rgba(247, 247, 247, 0.829);
    overflow: auto;
}
