a{
    color: white;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689cd2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.header-section{
    display: flex;
    align-items: center;
}
.header-item{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}
.header-item:hover{
    background-color: #ff9900;
    border-radius: 4px;
}
.headerlogo{
    font-weight: bold;
}
.headerButton{
    cursor: pointer;
}