body {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header a {
  display: inline-block;
  padding: 10px;
}
.header a:hover {
  text-decoration: underline;
}
button {
  display: inline-block;
  background: tomato;
  color: white;
  text-decoration: none;
  border-radius: 6px 6px;
  padding: 0.5em 1.5em;
  user-select: none;
  box-shadow: 0 3px rgb(red, green, blue) inset;
}
button:hover {
  background: rgb(184, 51, 28);
}
.about a:hover {
  background: rgba(255, 68, 0, 0.959);
}
.navbar {
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.068);
  overflow: auto;
}
header {
  background: gray;
}
